.banner-container {
	background: url(./IMAGE1.png);
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 900px;
}

.banner-content {
	display: flex;
	justify-content: center;
}

.banner-info {
	margin-top: 550px;
	text-align: center;
	max-width: 600px;
}

.banner-subtitle {
	color: #c0c0c0;
	font-size: 14px;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.banner-title {
	font-size: 54px;
	line-height: 59.4px;
	margin-bottom: 18px;
}

.banner-text {
	color: #c0c0c0;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 13px;
}
