.btn {
	display: flex;
	align-items: center;
	padding: 2px 10px 5px 4px;
	border-radius: 14px;
	letter-spacing: 0.4px;
	font-size: 15px;
	line-height: 20px;
	cursor: pointer;
	font: 400 16px 'Poppins', sans-serif;
	border: none;
	transition: 0.4s;
}

.btn-img {
	margin-right: 6px;
}

.btn:hover {
	background-color: rgb(202, 214, 224);
}
