.cards-container-title {
	margin-top: 113px;
	text-align: center;
}

.cards-title {
	font-size: 40px;
	line-height: 42px;
	margin-bottom: 15px;
}

.cards-subtitle {
	color: #c0c0c0;
	display: block;
	font-size: 23px;
	line-height: 30px;
	margin-bottom: 40px;
}

.card-content {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}
